[submodule "Elven/vendor/spdlog"]
	path = Elven/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Elven/vendor/GLFW"]
	path = Elven/vendor/GLFW
	url = https://github.com/kryvytskyidenys/glfw
[submodule "Elven/vendor/glm"]
	path = Elven/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Elven/vendor/gdm"]
	path = Elven/vendor/gdm
	url = https://github.com/kryvytskyidenys/gdm
